MONGODB_URI=
COLLEGE_NAME=
UNIVERSITY_NAME=
UNIVERSITY_DISTRICT=
SHORT_NAME=
COLLEGE_ADDRESS=
COLLEGE_CITY=
COLLEGE_DISTRICT=
COLLEGE_STATE=
COLLEGE_PINCODE=
COLLEGE_EMAIL=
COLLEGE_PHONE=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ADMIN_USERNAME=
ADMIN_PASSWORD=